# (Sensitive files)
service_account.json
.env
.venv/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/
.claude

# OS files
.DS_Store
Thumbs.db
celerybeat-schedule